<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Suite">
  <test thread-count="5" name="AllTests">
    <classes>
      
      <class name="com.sportyshoesTestCases.SignUpPageTest"/>
      <class name="com.sportyshoesTestCases.AdminLoginPageTest"/>
      <class name="com.sportyshoesTestCases.AdminDashboardPageTest"/>
      <class name="com.sportyshoesTestCases.UserLoginPageTest"/>
      <class name="com.sportyshoesTestCases.UserDashboardTest"/>
      <class name="com.sportyshoesTestCases.UserProfilePageTest"/>
      
      <!-- Add any additional test classes here -->
      
    </classes>
  </test>
</suite>
