<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Sign Up</title>
</head>
<body>
	<h1>Sign Up</h1>
	<form th:action="@{/signup}" method="post">
		<div>
			<label>Email:</label> <input type="email" name="email" required>
		</div>
		<div>
			<label>Password:</label> <input type="password" name="password"
				required>
		</div>
		<div>
			<label>Name:</label> <input type="text" name="name" required>
		</div>
		<div>
			<label>Surname:</label> <input type="text" name="surname" required>
		</div>
		<button type="submit">Sign Up</button>
	</form>
</body>
</html>
